{% extends "./layout.html.twig" %}
{% block title %}unities{% endblock %}


{% block navbar %}
    {% include "navbar/navbar.html.twig" %}
    {# ========== BREADSCRUMB ========== #}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li class="active">Unités</li>
            <li><a class="btn btn-default btn-xs pull-right" href="{{ path('addUnity') }}">+</a></li>
        </ol>
    </div>
    {# ======== END BREADSCRUMB ======== #}
    {% include "flashMessage/message.html.twig" %}
{% endblock %}

{% set unitiesMenu = true %}

{% block content %} {# BLOCK CONTENT #}
    <div class="panel panel-default">
        <div class="panel-heading">
               <h4 class="panel-title">unités <a class="btn btn-default btn-xs pull-right" href="{{ path('addUnity') }}">+</a></h4>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <td>title</td>
                <td>action</td>
            </tr>
            {% for unity in unities %}
                <tr>
                    <td>{{ unity.title }}</td>
                    <td>
                        {# ===== BUTTON EDIT UNITY ================================================== #}
                        <a href="{{ path('editUnity', {'unityId': unity.id}) }}"
                           class="btn btn-success btn-xs"
                           title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        {# ===== END BUTTON EDIT UNITY ============================================== #}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %} {# ENDBLOCK CONTENT #}